DOMAIN_NAME=localserver.stream
COMPOSE_PROFILES=prod
TZ=Asia/Kolkata

# All Secrets can be generated via `openssl rand -hex 32`

# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=<ADD_MONGO_ROOT_PASSWORD_HERE>

# MySQL
MYSQL_ROOT_PASSWORD=<ADD_MYSQL_ROOT_PASSWORD_HERE>
MYSQL_USER=mysql_user
MYSQL_PASSWORD=<ADD_MYSQL_USER_PASSWORD_HERE>
MYSQL_DATABASE=default_db

# PostgreSQL
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=<ADD_POSTGRES_PASSWORD_HERE>
POSTGRES_DB=default_db

# Redis
REDIS_PASSWORD=<ADD_REDIS_PASSWORD_HERE>